$base-color: #181823;
$secondary-color: #537fe7;
$color-accent-dark: #c0eef2;
$color-accent-light: #e9f8f9;

$background-picture-desktop: url('../images/background.png');
$background-picture-phone: url('../images/background-phone.jpg');
